beautifulsoup4==4.9.3
requests==2.25.1
astunparse==1.6.3
phonenumbers==8.12.25
tldextract==3.1.0
python-Levenshtein==0.12.2
pyautogui==0.9.52
opencage==1.2.2
selenium==3.141.0
validators==0.18.2
regex==2021.4.4
googletrans==4.0.0-rc1
